In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, roc_curve
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.pipeline import make_pipeline, Pipeline
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.float_format', '{:.2f}'.format)

In [2]:
import joblib
from joblib import load

df = joblib.load('dataset joblib files\dataset_autoencoder.joblib')

In [3]:
df.head(10)

,from_bank,account,to_bank,account_1,amount_received,amount_paid,is_laundering,day,receiving_currency_Others,receiving_currency_Swiss Franc,receiving_currency_US Dollar,receiving_currency_Yuan,payment_currency_Others,payment_currency_Swiss Franc,payment_currency_US Dollar,payment_currency_Yuan,payment_format_Cheque,payment_format_Credit Card,payment_format_Others
0,10,8000EBD30,10,8000EBD30,3697.34,3697.34,0,1,False,False,True,False,False,False,True,False,False,False,True
1,3208,8000F4580,1,8000F5340,0.01,0.01,0,1,False,False,True,False,False,False,True,False,True,False,False
2,3209,8000F4670,3209,8000F4670,14675.57,14675.57,0,1,False,False,True,False,False,False,True,False,False,False,True
3,12,8000F5030,12,8000F5030,2806.97,2806.97,0,1,False,False,True,False,False,False,True,False,False,False,True
4,10,8000F5200,10,8000F5200,36682.97,36682.97,0,1,False,False,True,False,False,False,True,False,False,False,True
5,1,8000F5AD0,1,8000F5AD0,6162.44,6162.44,0,1,False,False,True,False,False,False,True,False,False,False,True
6,1,8000EBAC0,1,8000EBAC0,14.26,14.26,0,1,False,False,True,False,False,False,True,False,False,False,True
7,1,8000EC1E0,1,8000EC1E0,11.86,11.86,0,1,False,False,True,False,False,False,True,False,False,False,True
8,12,8000EC280,2439,8017BF800,7.66,7.66,0,1,False,False,True,False,False,False,True,False,False,True,False
9,1,8000EDEC0,211050,80AEF5310,383.71,383.71,0,1,False,False,True,False,False,False,True,False,False,True,False

In [4]:
df.is_laundering.value_counts()

is_laundering
0    5073168
1       5177
Name: count, dtype: int64

In [7]:
df1 = df[df['is_laundering']==0]

df1.head()

,from_bank,account,to_bank,account_1,amount_received,amount_paid,is_laundering,day,receiving_currency_Others,receiving_currency_Swiss Franc,receiving_currency_US Dollar,receiving_currency_Yuan,payment_currency_Others,payment_currency_Swiss Franc,payment_currency_US Dollar,payment_currency_Yuan,payment_format_Cheque,payment_format_Credit Card,payment_format_Others
0,10,8000EBD30,10,8000EBD30,3697.34,3697.34,0,1,False,False,True,False,False,False,True,False,False,False,True
1,3208,8000F4580,1,8000F5340,0.01,0.01,0,1,False,False,True,False,False,False,True,False,True,False,False
2,3209,8000F4670,3209,8000F4670,14675.57,14675.57,0,1,False,False,True,False,False,False,True,False,False,False,True
3,12,8000F5030,12,8000F5030,2806.97,2806.97,0,1,False,False,True,False,False,False,True,False,False,False,True
4,10,8000F5200,10,8000F5200,36682.97,36682.97,0,1,False,False,True,False,False,False,True,False,False,False,True

In [8]:
df1.is_laundering.value_counts()

is_laundering
0    5073168
Name: count, dtype: int64

In [10]:
df2 = df1.copy()
columns_to_change = ['from_bank', 'account', 'to_bank', 'account_1']

for col in columns_to_change:
    freq = df2[col].value_counts(normalize=True)
    df2[col] = df2[col].map(freq)

In [11]:
df2.head()

,from_bank,account,to_bank,account_1,amount_received,amount_paid,is_laundering,day,receiving_currency_Others,receiving_currency_Swiss Franc,receiving_currency_US Dollar,receiving_currency_Yuan,payment_currency_Others,payment_currency_Swiss Franc,payment_currency_US Dollar,payment_currency_Yuan,payment_format_Cheque,payment_format_Credit Card,payment_format_Others
0,0.02,0.00,0.01,0.00,3697.34,3697.34,0,1,False,False,True,False,False,False,True,False,False,False,True
1,0.00,0.00,0.01,0.00,0.01,0.01,0,1,False,False,True,False,False,False,True,False,True,False,False
2,0.00,0.00,0.00,0.00,14675.57,14675.57,0,1,False,False,True,False,False,False,True,False,False,False,True
3,0.02,0.00,0.01,0.00,2806.97,2806.97,0,1,False,False,True,False,False,False,True,False,False,False,True
4,0.02,0.00,0.01,0.00,36682.97,36682.97,0,1,False,False,True,False,False,False,True,False,False,False,True

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5073168 entries, 0 to 5078344
Data columns (total 19 columns):
 #   Column                          Dtype
---  ------                          -----
 0   from_bank                       float64
 1   account                         float64
 2   to_bank                         float64
 3   account_1                       float64
 4   amount_received                 float64
 5   amount_paid                     float64
 6   is_laundering                   int64
 7   day                             int32
 8   receiving_currency_Others       bool
 9   receiving_currency_Swiss Franc  bool
 10  receiving_currency_US Dollar    bool
 11  receiving_currency_Yuan         bool
 12  payment_currency_Others         bool
 13  payment_currency_Swiss Franc    bool
 14  payment_currency_US Dollar      bool
 15  payment_currency_Yuan           bool
 16  payment_format_Cheque           bool
 17  payment_format_Credit Card      bool
 18  payment_format_Others           bool
dtypes: bool(11), float64(6), int32(1), int64(1)
memory usage: 382.2 MB

Robust scaling handles outliers better than normalization or standardization by minimizing their influence while scaling numerical features. This ensures stable transformations and preserves the integrity of the data distribution for analysis and modeling.

In [13]:
robust_scaler = RobustScaler()
columns_to_scale = ['amount_received', 'amount_paid']

df3 = df2.copy()

df3[columns_to_scale] = robust_scaler.fit_transform(df3[columns_to_scale])
df3[columns_to_scale] = robust_scaler.transform(df3[columns_to_scale])

df3.head()

,from_bank,account,to_bank,account_1,amount_received,amount_paid,is_laundering,day,receiving_currency_Others,receiving_currency_Swiss Franc,receiving_currency_US Dollar,receiving_currency_Yuan,payment_currency_Others,payment_currency_Swiss Franc,payment_currency_US Dollar,payment_currency_Yuan,payment_format_Cheque,payment_format_Credit Card,payment_format_Others
0,0.02,0.00,0.01,0.00,-0.12,-0.12,0,1,False,False,True,False,False,False,True,False,False,False,True
1,0.00,0.00,0.01,0.00,-0.12,-0.12,0,1,False,False,True,False,False,False,True,False,True,False,False
2,0.00,0.00,0.00,0.00,-0.12,-0.12,0,1,False,False,True,False,False,False,True,False,False,False,True
3,0.02,0.00,0.01,0.00,-0.12,-0.12,0,1,False,False,True,False,False,False,True,False,False,False,True
4,0.02,0.00,0.01,0.00,-0.12,-0.12,0,1,False,False,True,False,False,False,True,False,False,False,True

In [15]:
# for smote applied one
import joblib
from joblib import dump

dump((df3), 'df_auto_fixed.joblib')

['df_auto_fixed.joblib']